# MongoDB Connection
MONGO_URI=mongodb://localhost:27017/ta-appointment

# Redis Connection (for BullMQ)
REDDIS_HOST=localhost
REDDIS_PORT=6379
# REDDIS_PASSWORD=your_redis_password

# Email Configuration (Gmail)
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-specific-password

# Frontend URL (for email links)
FRONTEND_URL=http://localhost:5173
